<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="widget">
					<h3 class="mb-4">Hakkımızda</h3>
					<p>Bu blog, oyun, anime ve dizi dünyasından en güncel içerikleri sunarak bilgi ve eğlenceyi bir araya getiriyor. Keşfetmekten keyif alacağınız bir dünya için bizimle kalın!</p>
				</div> <!-- /.widget -->
				@await Component.InvokeAsync("_UILayoutFooterSocialMediaComponentPartial")
			</div> <!-- /.col-lg-4 -->
			
			@await Component.InvokeAsync("_UILayoutFooterRecentPostsComponentPartial")
		</div> <!-- /.row -->

		<div class="row mt-5">
			<div class="col-12 text-center">
				<p>
					Blogizm @DateTime.Now.Year Tüm Hakları Saklıdır. 
				</p>
			</div>
		</div>
	</div> <!-- /.container -->
</footer> <!-- /.site-footer -->