@model CreateBlogCategoryDto
@{
    ViewData["Title"] = "CreateBlogCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Blog Kategori Ekleme İşlemi</h4>
                        <p class="card-subtitle mb-4">İlgili parametreleri doldurup Blog Kategori ekleme işlemini gerçekleştirebilirsiniz.</p>

                        <form method="post">

                            <div class="form-group">
                                <label for="exampleInputPassword1">Ana Kategori</label>
                                @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.categoryvalues, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Blog Kategori İsmi</label>
                                <input type="text" autocomplete="off" class="form-control" asp-for="Name" id="exampleInputPassword1">
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Ekle</button>
                        </form>

                    </div> <!-- end card-body-->
                </div>

            </div>

        </div>

    </div>
</div>

