@model List<ResultCategoryDto>
<nav class="site-nav">
	<div class="container">
		<div class="menu-bg-wrap">
			<div class="site-navigation">
				<div class="row g-0 align-items-center">
					<div class="col-2">
						<a href="index.html" class="logo m-0 float-start">Blogizm<span class="text-primary">.</span></a>
					</div>
					<div class="col-8 text-center">
				

						<ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu mx-auto">
							<li class="active"><a href="/Default/Index">Ana Sayfa</a></li>
							<li><a href="/About/Index">Hakkımızda</a></li>
							<li class="has-children">
								<a href="javascript:void(0)">Kategoriler</a>
								<ul class="dropdown"">
									@foreach(var data in Model){
										<li><a style="text-decoration:none" href="/Blog/Index/@data.CategoryId">@data.Name</a></li>
									}
									
								
								</ul>
							</li>
							<li><a href="/Contact/Index">İletişim</a></li>

						</ul>
					</div>
					<div class="col-2 text-end">
						<a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block d-lg-none light">
							<span></span>
						</a>
					
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>