@model UpdateAuthorDto
@{
    ViewData["Title"] = "UpdateAuthor";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Yazar Güncelleme İşlemi</h4>
                        <p class="card-subtitle mb-4">İlgili parametreleri doldurup Yazar güncelleme işlemini gerçekleştirebilirsiniz.</p>

                        <form method="post">
                            <input type="hidden" asp-for="AuthorId" />
                            <div class="form-group">
                                <label for="exampleInputPassword1">Yazar Adı</label>
                                <input type="text" autocomplete="off" class="form-control" value="@Model.Name" asp-for="Name" id="exampleInputPassword1">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Yazar Soyadı</label>
                                <input type="text" autocomplete="off" class="form-control" value="@Model.Surname" asp-for="Surname" id="exampleInputPassword1">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Yazar Açıklaması</label>
                                <input type="text" autocomplete="off" class="form-control" value="@Model.Description" asp-for="Description" id="exampleInputPassword1">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Yazar Resim URL</label>
                                <input type="text" autocomplete="off" class="form-control" value="@Model.AuthorImage" asp-for="AuthorImage" id="exampleInputPassword1">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Kaydet</button>
                        </form>

                    </div> <!-- end card-body-->
                </div>

            </div>

        </div>

    </div>
</div>



