<div class="sidebar-box search-form-wrap mb-4">
    <form method="post" class="sidebar-search-form" >
        <span class="bi-search"></span>
        <input type="text" class="form-control" name="word" id="s" placeholder="İstediğiniz Blogu aratınız">
    </form>
</div>  