
@{
	ViewData["Title"] = "Index";
	Layout = null;
}

<!doctype html>
<html lang="en">
@await Component.InvokeAsync("_UILayoutHeadComponentPartial")
<body>

	<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	@await Component.InvokeAsync("_UILayoutNavbarComponentPartial")

	
@RenderBody()



	<!--Footer-->
	@await Component.InvokeAsync("_UILayoutFooterComponentPartial")
	<!-- Preloader -->
	<div id="overlayer"></div>
	<div class="loader">
		<div class="spinner-border text-primary" role="status">
			<span class="visually-hidden">Yükleniyor...</span>
		</div>
	</div>
	@await Component.InvokeAsync("_UILayoutScriptsComponentPartial")
</body>
</html>

