@model GetAuthorByBlogIdDto
<div class="sidebar-box">
    <div class="bio text-center">
        <img src="@Model.AuthorImage" alt="@Model.AuthorFullname" class="img-fluid mb-3">
        <div class="bio-body">
            <h2>@Model.AuthorFullname</h2>
            <p class="mb-4">@Model.AuthorDescription</p>
        </div>
    </div>
</div>