@model CreateBlogDto
@{
    ViewData["Title"] = "CreateBlog";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Blog Ekleme İşlemi</h4>
                        <p class="card-subtitle mb-4">İlgili parametreleri doldurup Blog  ekleme işlemini gerçekleştirebilirsiniz.</p>

                        <form method="post">

                            <div class="form-group">
                                <label for="exampleInputPassword1">Ana Kategori</label>
                                @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.CategoryValues, new { @class = "form-control", @id = "maincategory" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Blog Kategori</label>
                                @Html.DropDownListFor(x => x.BlogCategoryId, (List<SelectListItem>)ViewBag.BlogCategoryValues,new {@class="form-control",@id="blogcategory"})
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Blog Başlık</label>
                                <input type="text" autocomplete="off" class="form-control" asp-for="Title" id="exampleInputPassword1">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Blog  Açıklama</label>
                                <input type="text" autocomplete="off" class="form-control" asp-for="Description" id="exampleInputPassword1">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Blog Alt Açıklama</label>
                                <input type="text" autocomplete="off" class="form-control" asp-for="SubDescription" id="exampleInputPassword1">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Blog Kapak Resim URL</label>
                                <input type="text" autocomplete="off" class="form-control" asp-for="CoverImageUrl" id="exampleInputPassword1">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Blog Resim 1</label>
                                <input type="text" autocomplete="off" class="form-control" asp-for="BlogImage1" id="exampleInputPassword1">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Blog Resim 2</label>
                                <input type="text" autocomplete="off" class="form-control" asp-for="BlogImage2" id="exampleInputPassword1">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Blog Resim 3</label>
                                <input type="text" autocomplete="off" class="form-control" asp-for="BlogImage3" id="exampleInputPassword1">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Yazar</label>
                                @Html.DropDownListFor(x => x.AuthorId, (List<SelectListItem>)ViewBag.AuthorValues, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Video URL</label>
                                <input type="text" asp-for="VideoUrl" class="form-control" autocomplete="off" />
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Ekle</button>
                        </form>

                    </div> <!-- end card-body-->
                </div>

            </div>

        </div>

    </div>
</div>
<script>

        $(document).ready(function () {
        function loadBlogCategories() {
            var mainCategoryId = $('#maincategory').val(); // Seçili değeri al
            var url = 'https://localhost:7023/api/BlogCategory/GetBlogCategoryWithCategoryId/' + mainCategoryId;
            console.log("ID:" + mainCategoryId);

            if (mainCategoryId) {
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (data) {
                        console.log("AJAX Başarılı, Dönen Veri:", data); // API'den dönen veriyi logla
                        var blogCategoryDropdown = $('#blogcategory');
                        blogCategoryDropdown.empty(); // Mevcut seçenekleri temizle

                        blogCategoryDropdown.append($('<option>', {
                            value: '',
                            text: 'Seçiniz'
                        }));

                        // API'den dönen değerleri dropdown'a ekle
                        $.each(data, function (i, item) {
                            blogCategoryDropdown.append($('<option>', {
                                value: item.blogCategoryId, // Backend'den dönen ID
                                text: item.name // Backend'den dönen isim
                            }));
                        });
                    },
                    error: function () {
                        alert('Blog kategorileri yüklenirken bir hata oluştu.');
                    }
                });
            } else {
                $('#blogcategory').empty().append($('<option>', {
                    value: '',
                    text: 'Seçiniz'
                }));
            }
        }

        loadBlogCategories();

        $('#maincategory').change(function () {
            loadBlogCategories();
        });
    });

</script>

